<div style="margin-bottom: 1em; background-color: orange;">
  <p>{{ name }}</p>
  <p>{{ color }}</p>
  <p>{{ species }}</p>
  {{#if wellBehaved}}
    <p>{{ name }} is a well behaved {{ species }}</p>
    {{else}}
    <p>{{ name }} is a poorly behaved {{ species }}</p>
  {{/if}}
</div>
